@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');
    
    body.my-contact-page {
        width: 100%;
        height: 100%;
        font-family: poppins, sans-serif;
        font-size: 0.88rem;
        user-select: none;
        overflow-x: hidden;   
        background: linear-gradient(
        90deg
        , rgb(18, 17, 15) 0%, rgb(16, 15, 13) 40%, rgb(10, 10, 10) 100%);
        justify-content: center;
        align-items: center;
        align-content: center;
        margin-inline: auto;
        margin: 0%;
        padding: 0;
        outline: 0;
        border: 0;
        appearance: none;
        text-decoration: none;
        list-style: none;
        box-sizing: border-box;
    }

    body, footer {
        margin: 0;
        padding: 0;
      }

    img{
      display: block;
      width: 100%;
    }

    h1{
      font-weight: 800;
      font-size: 1.8rem;
    }

    h2{
      font-size: 1.4rem;
      font-family: 'Times New Roman', Times, serif;
    }

    h3{
      font-size: 0.87rem;
    }

    h4{
      font-size: 0.8rem;
    }

    h5{
      font-size: 0.77rem;
    }

    small{
      font-size: 0.75rem;
    }
    
    

.contact__form{
   display: flex;
   flex-direction: column;
   gap: 1.2rem;
   margin: 2rem 4rem;
   /* background:#d9e2ec; */
   /* background: #0e3420;  */
   padding: 2rem 1.5rem;
   border-radius: 8px 8px;
   font-family: 'Times New Roman', Times, serif;
   border: 1px solid #0f8b49;
   box-shadow: 0 2px 4px rgba(15, 139, 73, 0.5);

}

/* .form__name {
   display: flex;
   gap: 1.2rem;
}

.contact__form input[type="text"] {
    width: 50%;
    color: #000;
 } */

input, textarea {
    width: 100%;
    padding: 1rem;
    background-color: #ffff;
    color: #000;
    border: none;
  
 }

 .contact__form .btn { 
    display: inline-block;
    padding: 12px 24px;
    font-size: 1rem;
    font-weight: 500;
    text-align: center;
    text-decoration: none;
    background-color: #0f8b49;
    color: #fff;
    border: none;
    border-radius: 4px;
    width: max-content;
    margin-top: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
 }
      
.btn:hover {
     background-color: #13DA5A;
}


@media screen and (max-width: 768px) {
  .contact__form {
    margin: 2rem 1.5rem 3rem;
  }

  .form__name {
    flex-direction: column;

  }

  .form__name input[type="text"] {
    width: 100%;
  }

  .contact__form .btn { 
    width: 100%;
 }
      
  
}

  