@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

body {
    --color-primary: #009579;
    --color-primary-dark: #007f67;
    --color-secondary:#252c6a;
    --color-error:#cc3333;
    --color-success: #4bb544;
    --border-radius:4px;
    width: 100%;
    height: 100%;
    font-family: poppins, sans-serif;
    font-size: 0.88rem;
    user-select: none;
    overflow-x: hidden; 
    background: #1f1f38;
    background-color: #2c2c6c;       
    background: linear-gradient(
    90deg
    , hsla(30, 11%, 4%, 1) 0%, hsla(30, 11%, 4%, 1) 40%, hsla(0, 0%, 0%, 1) 100%);
    justify-content: center;
    align-items: center;
    align-content: center;
    margin-inline: auto;


}


* { 
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;

    }

    .section-p1 {
      padding: 40px 80px;
    }

    .section-m1 {
      margin: 40px 0;
    }

    html{
        font-size: 14px;
    }



    img{
      display: block;
      width: 100%;
    }

    h1{
      font-weight: 800;
      font-size: 1.8rem;
      color: #19b564;
    }

    h2{
      font-size: 1.4rem;
    }

    h3{
      font-size: 0.87rem;
    }

    h4{
      font-size: 0.8rem;
    }

    h5{
      font-size: 0.77rem;
    }

    small{
      font-size: 0.75rem;
    }




#form {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }


  .form-container {
    align-items: center;
    justify-content: center;
    display: block;
    background: #fff;
    width: 400px;
    max-width: 400px;
    height: 460px;
    margin-top: 7rem;
    padding: 2rem;
    box-shadow: 0 0 40px rgba(88, 88, 88, 0.5);
    border-radius: var(--border-radius);
} 

@keyframes glowing {
    0% {
        box-shadow: 0 0 40px rgba(88, 88, 88, 0.5);
    }
    50% {
        box-shadow: 0 0 40px rgba(8, 106, 42, 0.7), 0 0 40px rgba(8, 106, 42, 0.5);
    }
    100% {
        box-shadow: 0 0 40px rgba(88, 88, 88, 0.5);
    }
}

.form-container:hover {
    animation: glowing 2s infinite;
}

.form-container,
.form__input,
.form__button
{
    font: 500 1.1rem 'quicksand', sans-serif;
}


.form--hidden {
    display: none;
}

.form > *:first-child {
    margin-top: 0;
}

.form > *:last-child {
    margin-bottom: 0;
}

.form__title {
    margin-bottom: 2rem;
    text-align: center;
}

.form__message {
    text-align: center;
    margin-bottom: 1rem;
}

  
.form__message--success {
   color: var(--color-success);
}

.form__message--error {
    color: var(--color-error);
}
 

.form__input-group {
    margin-bottom: 1rem;
}

.form__input {
    display: block;
    width: 100%;
    padding: 0.75rem;
    box-sizing: border-box;
    border-radius: var(--border-radius);
    border: 1px solid #19b564;
    outline: none;
    background: rgb(237, 235, 235);
    transition: background 0.2s, border-color 0.2s;
    margin-bottom: 25px;
}

.form__input:focus {
    border-color: var(--color-primary);
    background: #ffffff;
}

.form__input--error {
    color: var(--color-error);
    border-color: var(--color-error);
}

.form__input-error-message {
    margin-top: 0.5rem;
    font-size: 0.85rem;
    color: var(--color-error);
}

.form__button {
    width: 100%;
    padding: 1rem 2rem;
    font-weight: bold;
    font-size: 1.1rem;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    border: none;
    border-radius: var(--border-radius);
    outline: none;
    cursor: pointer;
    background:#086a2a;
}

.form__button:hover {
    background:#19b564;
}

.form__button:active {
    transform: scale(0.98);
}

.form__text {
    text-align: center;
    margin-top: 20px;
}

.form__link {
    color: var(--color-secondary);
    text-decoration: none;
    cursor: pointer;
}

.form__link:hover {
    text-decoration: underline;
}
